.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 38rem;
}

.sakuraTitle {
    font-family: 'Macondo';
}

.cardImage {
    height: 36vh;
}
