.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60rem;
    font-family: 'Macondo Regular'
}

.instructionsTitle{
    font-family: 'Macondo';
}